<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home page</title>
<link rel="stylesheet" href="/styles/demo.css">
</head>
<body>
	<div th:fragment="topnav">
		<div sec:authorize="isAuthenticated()">
			<a href="/notes">Notes</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<a href="/users">Users</a>
		</div>
		<div sec:authorize="isAnonymous()">
			<a href="/login">Login</a>
		</div>
		<div sec:authorize="isAnonymous()">
			<a href="/signup">Sing Up</a>
		</div>
		<div sec:authorize="isAuthenticated()">
			<a href="/logout">Logout</a>
		</div>
	</div>
	<h2>This page is public, everyone can access it!</h2>
	<div class="container">
		<div class="item" style="order: 3;">First</div>
		<div class="item" style="order: 1;">Second</div>
		<div class="item" style="order: 2;">Third</div>
		<div class="item">This text is too large for this small element
			aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
	</div>

</body>
</html>