<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Login page</title>
</head>

<body>
	<h2>Sign in, please</h2>
	<form action="/login" method="post">
		<div>
			<input type="text" name="username" placeholder="Username">
		</div>
		<div>
			<input type="password" name="password" placeholder="Password">
		</div>
		<div>
			Remember me <input type="checkbox" name="remember-me">
		</div>
		<div>
			<input type="submit" value="Log In">
		</div>
		<div>
			<input type="submit" formaction="/forgot-psw" value="Forgot password">
		</div>
	</form>
</body>

</html>