<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Notes page</h2>
	<div th:each="note : ${notes}">
		<div th:text="${note.id}"></div>
		<div th:text="${note.title}"></div>
		<div th:text="${note.description}"></div>
	</div>
	<div>
		<h3>Add note</h3>
		<form action="/notes/create" method="post">
			<div>
				<input type="text" name="title">
			</div>
			<div>
				<textarea name="description"></textarea>
			</div>
			<div>
				<input type="submit" value="Create">
			</div>
		</form>
	</div>
</body>
</html>